<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>팝업스토어 예약</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body>
<!-- 네비게이션 바 -->
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container">
        <div>
            <a class="navbar-brand" href="#">Navbar scroll</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <!--        <div class="collapse navbar-collapse me-5" id="navbarScroll">-->
        <!--            <ul class="navbar-nav me-5 my-2 my-lg-0 navbar-nav-scroll" style="&#45;&#45;bs-scroll-height: 100px;">-->
        <!--                <li class="nav-item">-->
        <!--                    <a class="nav-link active" aria-current="page" href="#">Home</a>-->
        <!--                </li>-->
        <!--                <li class="nav-item">-->
        <!--                    <a class="nav-link" href="#">Link</a>-->
        <!--                </li>-->
        <!--                <li class="nav-item dropdown">-->
        <!--                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">-->
        <!--                        Link-->
        <!--                    </a>-->
        <!--                    <ul class="dropdown-menu">-->
        <!--                        <li><a class="dropdown-item" href="#">Action</a></li>-->
        <!--                        <li><a class="dropdown-item" href="#">Another action</a></li>-->
        <!--                        <li><hr class="dropdown-divider"></li>-->
        <!--                        <li><a class="dropdown-item" href="#">Something else here</a></li>-->
        <!--                    </ul>-->
        <!--                </li>-->
        <!--                <li class="nav-item me-5">-->
        <!--                    <a class="nav-link disabled" aria-disabled="true">Link</a>-->
        <!--                </li>-->
        <!--            </ul>-->
        <!--        </div>-->

        <!-- 검색창 -->
        <form class="d-flex w-100 ms-5" role="search">
            <input class="form-control ms-5 me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>

        <!-- 로그인 및 회원가입 버튼 -->
        <div class="col-md-3 text-end">
            <button type="button" class="btn btn-outline-primary me-2">Login</button>
            <button type="button" class="btn btn-primary">Sign-up</button>
        </div>
    </div>
</nav>

<div class="b-example-divider"></div>

<!-- 예약 정보 입력 -->
<div class="container">
    <form action="/popupStore/member2" method="post">
        <!-- 예약자 정보 입력 -->
        <!-- 팝업스토어 ID -->
        <input type="hidden" name="storeId" th:value="${storeId}"></input>

        <!-- 사용자 ID -->
        <input type="hidden" name="userId" value="7"></input>
        <div class="container mt-5">
            <div class="card p-4">
                <h3 class="fw-bold mb-3">예약자 정보</h3>
                <p>1. 예약이 완료되면 예약 상세 페이지에서 정보를 확인할 수 있습니다.</p>
                <p>2. 예약 후 변경 및 취소는 호스트의 정책에 따라 다를 수 있습니다.</p>
                <!-- 사용자 이름 입력 -->
                <div class="mb-3">
                    <label for="userName" class="form-label fw-bold fs-5">예약자</label>
                    <input type="text" id="userName" name="userName" class="form-control" value="Alice Kim">
                </div>
                <!-- 사용자 연락처 입력 -->
                <div class="mb-3">
                    <label for="userPhone" class="form-label fw-bold fs-5">연락처</label>
                    <input type="text" id="userPhone" name="userPhone" class="form-control" value="010-1111-2222">
                </div>
                <!-- 사용자 이메일 입력 -->
                <div>
                    <label for="userEmail" class="form-label fw-bold fs-5">이메일</label>
                    <input type="text" id="userEmail" name="userEmail" class="form-control" value="user1@example.com">
                </div>
            </div>
        </div>

        <!-- 예약하기 -->
        <div class="container mt-5 text-center">
            <h3 class="fw-bold mb-3">예약하기</h3>
            <!-- 에약 일시 -->
            <input type="datetime-local" id="reservationDatetime" name="reservationDatetime" class="form-control w-25 mx-auto mt-2">
            <!-- 예약 인원 선택 -->
            <select class="form-select w-25 mx-auto mt-2">
                <option value="1" selected>1명</option>
                <option value="2">2명</option>
                <option value="3">3명</option>
            </select>
            <!-- 예약하기 버튼 -->
            <button class="btn btn-dark mt-4">예약하기</button>
        </div>
    </form>
</div>
</body>
</html>